body {
  margin: 0px;
  padding: 0px;
  background: #222222;
  z-index: -100;

}

.btn.striped-shadow.white {
  position: absolute !important;
  bottom: 5% !important;
  left: 12% !important;
}

#restart {
  position: absolute !important;
  bottom: 5%;
  left: 27% !important;
}


canvas {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

#github-image{

  display: flex;
  flex-direction: column;
  height: 80px;
  padding: 10px;
  display: unset;

}

#linkedin-image{

  height: 80px;
  padding: 10px;
    display: unset;
    display: flex;
    flex-direction: column;
}

#portfolio-div {
  padding-left: 2%;
  padding-top: 5%;
}


.textincanvas {
  position: absolute;
  left: 35%;
  top: 40%;
  color: white;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

#gifloading{
  display: unset;
  position: absolute;
  left: 45%;
  top: 81.5%;
  width: 15%;
  height: 15%;
}
@import 'https://fonts.googleapis.com/css?family=Bungee+Shade';

*, :after, :before {
    box-sizing: border-box;
}

:focus{
  outline: none;
}

button {
    overflow: visible;
    border: 0;
  padding: 0;
  margin: 1.8rem;
}
.btn.striped-shadow span {
    display: block;
    position: relative;
    z-index: 2;
    border: 5px solid;
}
.btn.striped-shadow.white span {
    border-color: #fff;
    color: #fff;
    background: #0099ff;
}

.btn {
    font-family: 'Bungee Shade', sans-serif;
    height: 80px;
    line-height: 65px;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    font-size: 1.35rem;
    width: 250px;
    transition: opacity .3s,z-index .3s step-end,-webkit-transform .3s;
    transition: opacity .3s,z-index .3s step-end,transform .3s;
    transition: opacity .3s,z-index .3s step-end,transform .3s,-webkit-transform .3s;
    z-index: 1;
    background-color: transparent;
    cursor: pointer;
}

.btn {
    width: 155px;
    height: 48px;
    line-height: 38px;
}

button.btn.striped-shadow.white:after, button.btn.striped-shadow.white:before {
    background-image: linear-gradient(135deg,transparent 0,transparent 5px,#fff 5px,#fff 10px,transparent 10px);
}


button.btn.striped-shadow:hover:before {
    max-height: calc(100% - 10px);
}

button.btn.striped-shadow:after {
    width: calc(100% - 4px);
    height: 8px;
    left: -10px;
    bottom: -9px;
    background-size: 15px 8px;
    background-repeat: repeat-x;
}
button.btn.striped-shadow:after, button.btn.striped-shadow:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    transition: max-height .3s,width .3s,-webkit-transform .3s;
    transition: transform .3s,max-height .3s,width .3s;
    transition: transform .3s,max-height .3s,width .3s,-webkit-transform .3s;
}

.btn.striped-shadow:hover {
    -webkit-transform: translate(-12px,12px);
    -ms-transform: translate(-12px,12px);
    transform: translate(-12px,12px);
  z-index: 3;
}

button.btn.striped-shadow:hover:after, button.btn.striped-shadow:hover:before {
    -webkit-transform: translate(12px,-12px);
    -ms-transform: translate(12px,-12px);
    transform: translate(12px,-12px);
}
button.btn.striped-shadow:before {
    width: 8px;
    max-height: calc(100% - 5px);
    height: 100%;
    left: -12px;
    bottom: -5px;
    background-size: 8px 15px;
    background-repeat: repeat-y;
    background-position: 0 100%;
}
